﻿html {
  position: relative;
  min-height: 100%;
}

.body-content {
  min-height: 400px;
  padding-top: 70px;
  margin-bottom:50px;
}

@media(max-width: 1024px) and (min-width: 768px){
  .navbar-header.navbar-header-fix {
    float:none;
    padding-left: 15px;
  }
  
  .navbar-fixed-top > .container {
    padding-left : 0px;
  }
  
  .body-content {
    padding-top: 120px;
  }
}

a.stena-brand {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
}

.blue {
  color:rgb(51,153,255);
}

.our-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.our-footer > .container{
  padding-top:15px;
  text-align: center;
}

.first-header {
  margin-top: 0px;
}

.secret-link {
  cursor: pointer;
  float:right;
}
