﻿@using StenaResources

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-header-fix">
            <button type="button" aria-controls="navbar" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index", "Home", new { area = "" })' class="navbar-brand stena-brand">
                <span class="blue">STENA</span>
                <span>NET</span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(Navigation.About, "Index", "Home")</li>
                <li>@Html.ActionLink(Navigation.OurPartners, "Partners", "Home")</li>
                <li>@Html.ActionLink(Navigation.HowItWorks, "HowItWorks", "Home")</li>
                <li>@Html.ActionLink(Navigation.AllWalls, "Index", "Wall")</li>
            </ul>
            @*Html.Partial("_LoginPartial")*@
        </div>
    </div>
</div>
