﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta lang="en"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("meta", false)
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
    <title>@ViewBag.Title - StenaNet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Header")
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="our-footer">
        <div class="container">
            <span>version @ViewBag.Version</span>
            <span style="display:none">&copy; @DateTime.Now.Year - Denis Krasakov</span>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
