﻿@using StenaResources

@model StenaDotNet.Areas.Admin.Models.Admin.SummaryModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Admin.TotalWallCount: @Model.WallCount</p>

<p>@Admin.TotalContentCount: @Model.WallContentCount</p>

