﻿@using StenaResources;
@using StenaDotNet.Utils;

@model StenaDotNet.Areas.Admin.Models.WallContent.WallModel
@{
    ViewBag.Title = Walls.CreateWall;
    var ngModel = "wallCtrl.editModel";

    Html.EnableClientValidation(false);
}
<ng-controller ng-controller="WallController as wallCtrl" ng-cloak>
    <h2>{{wallCtrl.superModel.WallId == 0 ? "@Walls.CreateWall" : "@Walls.EditWall"}}</h2>

    <form name="editModelForm" novalidate class="simple-form" ng-submit="wallCtrl.submit()" ng-disabled="wallCtrl.isLoading">        
        <div class="form-horizontal">
            <h4>@Admin.CommonInformation</h4>
            <hr />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.NgTextBoxFor(model => model.Name, @ngModel)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.NgNumericTextBoxFor(model => model.Latitude, @ngModel)
                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.NgNumericTextBoxFor(model => model.Longitude, @ngModel)
                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!-- todo : directive for choose file\provide file url-->
        <input type="file" name="PreviewFile" 
               accept="image/*"
               file-directive="wallCtrl.editModel.PreviewFile" />

        <img ng-src="{{wallCtrl.superModel.FileUrl}}" ng-if="wallCtrl.superModel.FileUrl != null" 
             alt="test" style="height:100px;width:100px"/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" ng-disabled="wallCtrl.isLoading || editModelForm.$invalid"/>
            </div>
        </div>
    </form>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</ng-controller>

@section scripts{
    <script>
        (function () {
            angular
                .module('app')
                .config(config);

            config.$inject = ["WallServiceProvider", "fileUploadProvider"];
            function config(wallServiceProvider, fileUploadProvider) {
                wallServiceProvider.setupModel(@Html.ToRawJson(Model))
                wallServiceProvider.setupSubmitUrl("@Url.Action("AddEditWall", "WallContent")");

                fileUploadProvider.setupUploadUrl('@Url.Action("UploadImage", "WallContent")');
            }
        })();
    </script>

}