﻿@using StenaResources
@using Services.DTO.Walls;

@model StenaDotNet.Areas.Admin.Models.WallContent.WallListModel


@{
    ViewBag.Title = Admin.ManageWalls;
}

<h2>@Admin.ManageWalls</h2>

@Html.ActionLink("New wall", "AddEditWall")

@foreach (var item in Model.ViewList)
{
    <article>
        <h3>@item.Name</h3>
        <p>@Admin.Location : @FormatLocation(item)</p>
        <p>@Admin.ContentCount : @item.ContentCount</p>
        <p>@Html.ActionLink(Walls.EditWall, "AddEditWall", new { id = item.WallId})</p>
    </article>
}


@helper FormatLocation(ViewWallDto wall) { 
    
    if (wall.Latitude.HasValue && wall.Longitude.HasValue)
    {
        @wall.Latitude <text>&nbsp;</text> @wall.Longitude
    }
    else
    {
        @Admin.Unknown
    }
}