﻿@using StenaResources;

@model StenaDotNet.Areas.Admin.Models.WallContent.WallModel
@{
    ViewBag.Title = "remove me";
}

<h2>remove/rework me</h2>

<p>Wall successfully created!</p>

<p>Name : @Model.Name</p>

<img style="max-height:200px" alt="@Model.Name" src="@Model.FileUrl"/>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

