﻿@using StenaResources

@model StenaDotNet.Areas.Admin.Models.WallContent.WallContentModel

    <div class="form-horizontal">
        <hr />

        @Html.HiddenFor(x => x.ContentId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
